body {
  text-align:center;
  font-family:Helvetica;
}
#navigation {
  background-image: url("/Users/jessmorley/Documents/broadway/resources/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color:white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
ul {
  list-style: none;
  font-size: 18px;
}
ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}
a:link {
  color: white;
}
a:visited {
  color:purple;
}
h2 {
  font-size: 32;
  font-weight: bold;
}
h3 {
  font-size: 23;
  font-weight:bold;
}
p {
  font-size: 14px;
}
#bottom {
  display:inline;
}
